<div id="single-media-wrap">
    <img src="{{.post.Cover}}" alt='{{(map_get .post.Content "en").Title}}' id="post-thumbnail">
</div>
<header id="single-heading">
    <h1>{{(map_get .post.Content "en").Title}}</h1>
    <h2 id="campoLocalita">{{(map_get .post.Content "en").Location}}</h2>
    <section class="meta clearfix" id="single-meta">
        <div id="dataDelPost">{{(map_get .post.Content "en").Date}}</div>
        <!-- <ul>
            <li>
                <span class="wpex-icon-folder-open"></span>
                <a href="http://meravigliapaper.com/category/eat/" title="{{ (map_get .post.Content "en").Title}}" rel="category tag">Eat</a>
            </li>
        </ul> -->
    </section>
    <!--/meta -->
</header>

{{str2html (map_get .post.Content "en").Content}}